{{#if state.quantity}}
  获得
  <span class="exchange-number color-orange">{{state.quantity}}</span>
  <span class="color-orange">{{state.unit}}</span>
  <span class="exchange-unit">（{{rate}}{{state.unit}}/元）</span>
  <br/>
{{/if}}
