{{#if state.quantity}}
  <span class="exchange-unit color-dodgerblue">（{{rate}}看豆/元）</span>
  <span class="exchange-number color-purple">{{state.quantity}}</span>
  <span class="color-purple">看豆</span>
  <br/>
{{/if}}
